/*-------------------------------------------------------------------------------
GÉNÉRIQUE 
--------------------------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*-------------------------------------------------------------------------------
ÉLÉMENTS 
--------------------------------------------------------------------------------*/

/*--Général--*/

body{
    margin: 0;
    padding: 0;
    background-color: #F0F2F7;
    color: #12121A;
}

.wrapper{
    max-width: 1195px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

p{
    font: 400 1.125 "Fira Sans", sans-serif;
    line-height: 28px;
}

ul{
    list-style: none;
}





/*-------------------------------------------------------------------------------
COMPONENTS 
--------------------------------------------------------------------------------*/

/*--Header--*/

.header{
    background-color:#2A1B3D ;
    color: #F0F2F7;

}

.logo{
    font: 400 2.25rem "Fira Sans", sans-serif;
    color: #F0F2F7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width:37px;

}

.header .wrapper{
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}

.menu a{
    color:#F0F2F7 ;

    font: 400 1.125rem "Fira Sans", sans-serif;
}

.menu a:hover{
    color: #2DFEBC;
}






/*--Héro--*/

.hero{
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 395px;

}

.contenu_hero {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #B4B4C0;

    height: 395px;


    font: 800 1rem "Montserrat", sans-serif;
    text-align: center;
}




/*--Héro--*/

.call_to_action{
    background-color: #2A1B3D;
    color: #F0F2F7;
}

.call_to_action .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

