/*-------------------------------------------------------------------------------
GÉNÉRIQUE 
--------------------------------------------------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*-------------------------------------------------------------------------------
ÉLÉMENTS 
--------------------------------------------------------------------------------*/

/*--Général--*/

body {
    margin: 0;
    padding: 0;
    background-color: #F0F2F7;
    color: #12121A;
}

.wrapper {
    max-width: 1195px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

p {
    font: 400 1.125rem "Fira Sans", sans-serif;
    line-height: 28px;
}

ul {
    list-style: none;
}

h1 {
    font: 700 2.375rem "Montserrat", sans-serif;
    text-align: center;
}

h2 {
    font: 700 1.875rem "Montserrat", sans-serif;
    color: #8A235D;

}

h3 {
    font: 600 1.5rem "Montserrat", sans-serif;
    color: #8A235D;
}

h5 {
    color: #12121A;
    margin: 0;
    font: 400 1.25rem "Fira Sans", sans-serif;
}




/*--Call-to-action--*/

h4 {
    font: 400 1.5rem "Fira Sans", sans-serif;
}

/*--Section produits--*/

.nav_section a {
    font: 400 1rem "Fira Sans", sans-serif
}

.produits p {
    color: #12121A;
    margin: 0;
    font: 400 0.75rem "Fira Sans", sans-serif;
}

.bouton_produits a {
    background-color: transparent;
    border: 1px solid #2A1B3D;
    font: 400 1.5rem "Fira Sans", sans-serif;
    text-transform: uppercase;

    padding: 15px 40px;
}

.bouton_produits a:hover {
    border: 1px solid #2A1B3D;
    background-color: #2DFEBC;
    color: #12121A;
}


/*--Section Équipe--*/

.titre_equipe h2,
.titre_equipe p {
    text-align: center;

}

.titre_equipe p {
    width: 820px;
    margin: auto;
}

.card_employe p,
.card_employe h3 {
    text-align: center;
    color: #12121A;
    margin: 0;
}

.conteu_card_equipe p{
    color: #454552;
}

/*--Section Contact--*/

.contenu_contact p{
    text-align: center;
}

.contenu_contact p, .contenu_contact h2{
    margin: 0;
}

/*-------------------------------------------------------------------------------
COMPONENTS 
--------------------------------------------------------------------------------*/

/*--Général--*/

.bouton {
    background-color: #2DFEBC;
    color: #12121A;
    padding: 10px 30px;

    font: 400 1.125rem "Fira Sans", sans-serif;

    border: transparent solid 5px;
}

.bouton:hover {
    border: #12121A solid 5px;



}

/*--Header--*/

.header {
    background-color: #2A1B3D;
    color: #F0F2F7;

}

.logo {
    font: 400 2.25rem "Fira Sans", sans-serif;
    color: #F0F2F7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 37px;

}

.header .wrapper {
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}

.menu a {
    color: #F0F2F7;

    font: 400 1.125rem "Fira Sans", sans-serif;
}

.menu a:hover {
    color: #2DFEBC;
}






/*--Héro--*/

.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 395px;

}

.contenu_hero {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #B4B4C0;

    height: 395px;


}




/*--Call-to-action--*/

.call_to_action {
    background-color: #2A1B3D;
    color: #F0F2F7;
    height: 132px;
}

.call_to_action .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 132px;

}

/*--Section produits--*/

.produits {
    padding: 45px 0;
}

.nav_section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    gap: 10px;
}

.conteneur_vetements,
.conteneur_velo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
}


.card {
    position: relative;
    border: 3px solid #B4B4C0;
    width: 290.24px;
    height: 215px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
}

.article_hover {

    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(149, 149, 149, 0.8);

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.card:hover .article_hover {
    display: flex;
}

.bas_gris {
    margin: 0;
    background-color: #D7D7E8;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.bouton_produits {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*--Section Équipe--*/

.equipe {
    padding: 45px 0;
}

.titre_equipe .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;


}

.titre_equipe {
    margin: 30px auto;
}

.conteneur_equipe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 19px;
}

.card_employe img {
    width: 385px;
    height: 385px;
        border: 3px solid #B4B4C0;

}

.card_employe img:hover{
    border: 10px solid #B4B4C0;

}

.conteu_card_employe {
    margin-top: 50px;
}


/*--Section Contact--*/

.contact{
    background-color: #B4B4C0;
    height: 913px;
    padding: 45px 0;
}

.contenu_contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.contact_background{
    background-image: url(../images/carte.jpg);
    background-size: cover;
    height: 508px;
    width: 100%;
    margin-top: 50px;
}


